@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #020817;

        --card: #ffffff;
        --card-foreground: #020817;

        --popover: #ffffff;
        --popover-foreground: #020817;

        --primary: #0f1729;
        --primary-foreground: #f8fafc;

        --secondary: #f1f5f9;
        --secondary-foreground: #0f1729;

        --muted: #f1f5f9;
        --muted-foreground: #65758b;

        --accent: #f1f5f9;
        --accent-foreground: #0f1729;

        --destructive: #ef4343;
        --destructive-foreground: #f8fafc;

        --border: #e1e7ef;
        --input: #5d9c59;
        --ring: #020817;

        --radius: 0.5rem;

        /* YOU CANN ADD MORE COLORS HERE */
        --green: #5d9c59;
        --green-foreground: #ddf7e3;
        --red: #df2e38;
        --orange: #df632e;
        --purple: #97599c;
        --gray-foreground: #e7e7e7;
        --gray: #d9d9d9;
    }

    .dark {
        --background: #020817;
        --foreground: #f8fafc;

        --card: #020817;
        --card-foreground: #f8fafc;

        --popover: #020817;
        --popover-foreground: #f8fafc;

        --primary: #f8fafc;
        --primary-foreground: #0f1729;

        --secondary: #1d283a;
        --secondary-foreground: #f8fafc;

        --muted: #1d283a;
        --muted-foreground: #94a3b8;

        --accent: #1d283a;
        --accent-foreground: #f8fafc;

        --destructive: #811d1d;
        --destructive-foreground: #f8fafc;

        --border: #1d283a;
        --input: #1d283a;
        --ring: #cbd5e1;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        overflow-y: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.bg-stars {
    background: url("/images/stars.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
