@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #020817;

        --card: #ffffff;
        --card-foreground: #020817;

        --popover: #ffffff;
        --popover-foreground: #020817;

        --primary: #0f1729;
        --primary-foreground: #f8fafc;

        --secondary: #f1f5f9;
        --secondary-foreground: #0f1729;

        --muted: #f1f5f9;
        --muted-foreground: #65758b;

        --accent: #f1f5f9;
        --accent-foreground: #0f1729;

        --destructive: #ef4343;
        --destructive-foreground: #f8fafc;

        --border: #e1e7ef;
        --input: #5d9c59;
        --ring: #020817;

        --radius: 0.5rem;

        /* YOU CANN ADD MORE COLORS HERE */
        --green: #5d9c59;
        --green-light: #9fc59d;
        --green-foreground: #ddf7e3;
        --red: #df2e38;
        --orange: #df632e;
        --purple: #97599c;
        --gray-foreground: #e7e7e7;
        --gray: #d9d9d9;
        --opaque: #000000b3;
        --light-opaque: #00000080;
        --gray1: #d9d9d9;
    }

    .dark {
        --background: #020817;
        --foreground: #f8fafc;

        --card: #020817;
        --card-foreground: #f8fafc;

        --popover: #020817;
        --popover-foreground: #f8fafc;

        --primary: #f8fafc;
        --primary-foreground: #0f1729;

        --secondary: #1d283a;
        --secondary-foreground: #f8fafc;

        --muted: #1d283a;
        --muted-foreground: #94a3b8;

        --accent: #1d283a;
        --accent-foreground: #f8fafc;

        --destructive: #811d1d;
        --destructive-foreground: #f8fafc;

        --border: #1d283a;
        --input: #1d283a;
        --ring: #cbd5e1;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        overflow-y: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.bg-stars {
    background: url("/images/stars.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-group {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url("/images/invite-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg-linear {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-size: cover;
}

/* for the scroll bar */
.scrollBar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    transition: all 0.3s ease !important;
}

.scrollBar::-webkit-scrollbar-track {
    background-color: #5b677734;
    margin: 0.5rem;
    border-radius: 0.6rem;
    padding: 3rem;
}

.scrollBar::-webkit-scrollbar-button {
    display: none !important;
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #c4c4c4 !important;
    border-radius: 10px;
    background-clip: padding-box !important;
}

.scrollBar:active::-webkit-scrollbar-thumb {
    background-color: #d0d0d0 !important;
}

.scroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none !important;
}

.scroll::-webkit-scrollbar-track {
    background-color: #5b677734;
    margin: 0.5rem;
    border-radius: 0.6rem;
    padding: 3rem;
}

.scroll::-webkit-scrollbar-button {
    display: none !important;
}

.scroll::-webkit-scrollbar-thumb {
    background: #c4c4c4 !important;
    border-radius: 10px;
    background-clip: padding-box !important;
}

.scroll:active::-webkit-scrollbar-thumb {
    background-color: #d0d0d0 !important;
}

/* for the table */
.rdt_TableRow {
    border: none !important;
    margin: 0.8rem 0;
}

.rdt_TableBody > * {
    font-size: 1.1rem !important;
}

.rdt_TableCol_Sortable > * {
    white-space: normal !important;
}

.rdt_TableHeadRow {
    background-color: #c7e8ca !important;
    font-weight: 600;
    font-size: 1.1rem;
    border: none !important;
}

.rdt_TableBody {
    min-height: 15rem !important;
}

.PhoneInput {
    display: flex;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #e2e8f0;
    background-color: #f8fafc;
    font-size: 0.875rem;
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: #5d9c59;
    caret-color: #5d9c59;
    color: #1a202c;
    cursor: text;
}

.PhoneInput::placeholder {
    color: #a0aec0;
}

.PhoneInput:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.PhoneInput:focus-visible {
    outline: #5d9c59 auto 2px;
    outline-offset: 2px;
}

.PhoneInput:focus-visible::ring {
    outline-color: #5d9c59;
}

.PhoneInput:focus-visible::ring-offset {
    outline-color: #f8fafc;
}

.PhoneInput:focus-visible::outline {
    outline: #5d9c59 auto 2px;
}

.PhoneInputInput {
    outline: none;
    background-color: #f8fafc;
}

.PhoneInputCountry {
    padding-left: 0.5rem;
}
